<h1>Create Reports based on teacher</h1>
<br>
<h2>Choose the Teacher that you want the report.</h2>


<%= form_tag "/reports/show_report_teacher/" do %>
  
  <div class="field">
    <%= select_tag "teacher_id", options_from_collection_for_select(@teacher, "id", "name"), :prompt => "Select a Teacher" %>
  </div>

  <div class="field">
    <p><%= submit_tag "Make Report" %></p>
  </div>

  <div class="field">
    <p><%= link_to "Back to Reports", root_path %></p>
  </div>

<% end %>